<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}"><h1>{{ site.title }}</h1></a>
      <p class="lead">{{ site.description }}</p>
    </div>
    <div>
      <a href="{{ site.github }}"><i class="icon icon-github"></i></a>
      <a href="mailto:vadim.abdrashitov@gmail.com"><i class="icon icon-email"></i></a>
      <a href="{{ "/cv" | prepend:site.baseurl }}"><i class="icon icon-linkedin"></i></a>
    </div>
  </div>
</div>
